<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.website.product.mapper.ProductMapper">

    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
INSERT INTO product
	(
	`name`,
	price,
	imgs,
	`desc`,
	`type`,
	insert_author,
	update_author
	)
	VALUES
	(
	#{name},
	#{price},
	#{imgs},
	#{desc},
	#{type},
	#{insert_author},
	#{insert_author}
	);

    </insert>

    <select id="listByProduct" parameterType="java.util.Map" resultType="java.util.Map">
        select * from product a
        <where>
            and a.status = 0
            <if test="type != null and type != ''">and a.`type` = #{type}</if>
            <if test="id != null and id != ''">and a.`id` = #{id}</if>
            <if test="name != null and name != ''">and a.name like concat('%',#{name},'%')</if>
            <if test="price_max != null and price_max != ''">and a.`price` &lt;= #{price_max}</if>
            <if test="price_min != null and price_min != ''">and a.`price` >= #{price_min}</if>
        </where>
    </select>

    <update id="update" parameterType="java.util.Map">
        update product
        <set>
            update_time = now(),
            <if test="status != null and status != ''">`status` = #{status},</if>
            <if test="name != null and name != ''">`name` = #{name},</if>
            <if test="update_author != null and update_author != ''">`update_author` = #{user_id},</if>
            <if test="imgs != null and imgs != ''">`imgs` = #{imgs},</if>
            <if test="desc != null and desc != ''">`desc` = #{desc},</if>
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="price != null and price != ''">`price` = #{price},</if>
        </set>
        where `id` = #{id} and status = 0;
    </update>

</mapper>