<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.website.home.mapper.HomeMapper">
    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->
        INSERT INTO lock_order
        (
        order_no,
        lock_no,
        start_time,
        end_time,
        user_id,
        fee,
        `type`,
        insert_time,
        insert_author,
        update_time,
        update_author,
        total_time
        )
        VALUES
        (
        #{order_no},
        #{lock_no},
        #{start_time},
        #{end_time},
        #{user_id},
        #{fee},
        1,
        #{start_time},
        #{user_id},
        '2018-08-08 08:08:08',
        #{user_id},
        #{total_time}
        );
    </insert>

    <select id="getHome" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from `script` a
    </select>

</mapper>